# Virtual environment
.venv/
venv/

# Data (too large for git)
data/raw/
data/processed/

# Outputs
outputs/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# W&B
wandb/

CLAUDE.md
docs
